.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.kameron-font {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* body {
  margin: 0px;
} */

body {
  margin: 0;
  /* padding: 0; */
  
  height: 100vh;
  background-color: white; /* Background color */
  /* background-image: 
      linear-gradient(0deg, rgba(255, 1, 1, 0.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 4, 0, 0.2) 1px, transparent 1px);
  background-size: 40px 40px;  */

  /* animation: bg_alert 2s ease-in-out infinite; */
}

@keyframes bg_alert {
  0% {
    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.0) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.0) 1px, transparent 1px);
  }
  50% {
    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.10) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.10) 1px, transparent 1px);
  }
  100% {
    background-image: 
    linear-gradient(0deg, rgba(255, 1, 1, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 4, 0, 0.5) 1px, transparent 1px);
  }
}




#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; 
  top: 250px;

  padding: 10px;
  margin-right: 100px;
  
}
#TypeBox {
  display: flex;
  /* position: relative; */
  /* top: 250px; */
  border: 2px solid black;

  /* add drop shadow */
  box-shadow: 0px 4px 18px rgba(0, 0, 0, .25);;

  justify-content: center;
  align-items: center;

  font-size: 96px;

  padding: 40px;
  margin: 20px auto;

  /* height: 180px; */
  background-color: white;
  max-width: 1565px;
}
.panel {
  /* 1 px border black color */
  border: 1px solid black;
  background-color: #f4f4f4;
  padding: 10px;
  opacity: 60%;
}

#topPanel {
  display: flex;
  flex-direction: row;

  height: 156px;
  width: 0;

  position: absolute; /* sidebar stays on the right side */
  left: 0; /* position it to the right edge */
  top: 0; /* start at the top */
  animation: expandWidth 2s forwards; /* Animation to expand width */
}


.random-text {
  position: absolute; /* Absolute positioning inside topPanel */
  padding: 5px;
  /* background-color: white;
  border: 1px solid black; */
  font-size: 32px;
  transition: transform 0.3s ease; /* For smooth animation */
}


/* Keyframes to animate width from 0% to 100% */
@keyframes expandWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* start at the top */
  align-items: flex-end; /* content aligned to the right */

  position: fixed; /* sidebar stays on the right side */
  right: 0; /* position it to the right edge */
  top: 0; /* start at the top */

  width: 178px;
  height: 0; /* full height of the viewport */
  animation: expandHeight 2s forwards; /* Animation to expand width */

}

/* Keyframes to animate width from 0% to 100% */
@keyframes expandHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}


#TypeBox:after {
  content: "_";
  animation: blink 0.8s linear infinite; /* Use step-end for precise blinking */
  /* color: red; Set a default color */
}

/* Blink animation */
@keyframes blink {
    0%, 100% {
        opacity: 0;
        color: white; /* Invisible and white at the start and end */
    }
    50% {
        opacity: 1;
        color: rgb(130, 130, 130); /* Fully visible and red at the midpoint */
    }
}
#svg-container {
  margin-top: 270px;
  position: relative;
  display: inline-block;

  opacity: 0;
  transition: opacity 2s ease;
}

#arrow {
  position: relative;
  width: 190px;
  /* background-color: white; */
  transition: transform 0.3s ease;
}
#arrow:hover {
  transform: scale(0.9); /* Scale the image to 120% on hover */
}

/* Circular blur background */
#svg-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px; /* Adjust size to suit the SVG */
  height: 270px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  filter: blur(10px); /* Apply the blur effect */
  z-index: -1; /* Send the circle behind the SVG */
}


/* Container with flexbox */
.button-container {
  margin-top: 200px;
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  gap: 100px; /* Optional spacing between buttons */
  
  justify-content: space-around;
  align-items: center;

  padding: 20px; /* Optional padding */
  justify-content: center;
}

.btn {
  /* width: 340px; */
  /* height: 60px; */
  width: 352px;
  min-height: 60px;
  /* height: fit-content; */

  font-size: 32px;
  
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  
  border: none;
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
}

#surprise1 {
 color: #EFF5D7;
}

#surprise2 {
  color: #D7F5F3;
}
/* Left two buttons with inner shadow and white background */
.inner-shadow {
  background-color: #F9F9F9;
  
  box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25); /* Inner shadow */
  /* color: black; */
}

/* Right two buttons with drop shadow and black background */
.drop-shadow {
  background-color: #3B3B3B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); /* Drop shadow */

  color: white;
}


